Repository BlackpointCyber/compassone-powershell-module-2-4fatle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackpoint/pscompassone-maintainers, @blackpoint/pscompassone-core, @blackpoint/pscompassone-security, @blackpoint/pscompassone-qa, @blackpoint/pscompassone-devops

.github/CODEOWNERS:

* @blackpoint/pscompassone-maintainers

# Core PowerShell module files require both core and security team review
src/* @blackpoint/pscompassone-core @blackpoint/pscompassone-security

# All PowerShell files require mandatory core and security review
src/**/*.ps1 @blackpoint/pscompassone-core @blackpoint/pscompassone-security

# Test files require QA and core team review
src/test/* @blackpoint/pscompassone-qa @blackpoint/pscompassone-core

# Security-specific test files require security and QA team review
src/test/security/* @blackpoint/pscompassone-security @blackpoint/pscompassone-qa

# Infrastructure files require DevOps and security review
infrastructure/* @blackpoint/pscompassone-devops @blackpoint/pscompassone-security

# CI/CD workflow files require DevOps and security review
.github/workflows/* @blackpoint/pscompassone-devops @blackpoint/pscompassone-security

# Authentication-related code requires dedicated security team review
src/**/auth/** @blackpoint/pscompassone-security

# Cryptography-related code requires dedicated security team review
src/**/crypto/** @blackpoint/pscompassone-security

# Security documentation requires both security and core team review
docs/security/* @blackpoint/pscompassone-security @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @blackpoint/pscompassone-devops, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @blackpoint/pscompassone-devops, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @blackpoint/pscompassone-devops, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/aws/parameter-store.tf
  infrastructure/aws/parameter-store.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/aws/systems-manager.tf
  infrastructure/aws/systems-manager.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/azure/automation.tf
  infrastructure/azure/automation.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/azure/key-vault.tf
  infrastructure/azure/key-vault.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/docker/Dockerfile
  infrastructure/docker/Dockerfile
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/gcp/cloud-functions.tf
  infrastructure/gcp/cloud-functions.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/gcp/secret-manager.tf
  infrastructure/gcp/secret-manager.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/kubernetes/configmap.yml
  infrastructure/kubernetes/configmap.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/kubernetes/deployment.yml
  infrastructure/kubernetes/deployment.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/kubernetes/secrets.yml
  infrastructure/kubernetes/secrets.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/kubernetes/service.yml
  infrastructure/kubernetes/service.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/kubernetes/volume.yml
  infrastructure/kubernetes/volume.yml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/.pester.xml
  src/test/.pester.xml
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.API.Tests.ps1
  src/test/PSCompassOne.API.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Authentication.Tests.ps1
  src/test/PSCompassOne.Authentication.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Cache.Tests.ps1
  src/test/PSCompassOne.Cache.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Cmdlets.Tests.ps1
  src/test/PSCompassOne.Cmdlets.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.CrossPlatform.Tests.ps1
  src/test/PSCompassOne.CrossPlatform.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.ErrorHandling.Tests.ps1
  src/test/PSCompassOne.ErrorHandling.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Integration.Tests.ps1
  src/test/PSCompassOne.Integration.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Module.Tests.ps1
  src/test/PSCompassOne.Module.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Performance.Tests.ps1
  src/test/PSCompassOne.Performance.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core
