Repository BlackpointCyber/compassone-powershell-module-2-4fatle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackpoint/pscompassone-maintainers, @blackpoint/pscompassone-core, @blackpoint/pscompassone-security, @blackpoint/pscompassone-qa, @blackpoint/pscompassone-devops

.github/CODEOWNERS:

* @blackpoint/pscompassone-maintainers

# Core PowerShell module files require both core and security team review
src/* @blackpoint/pscompassone-core @blackpoint/pscompassone-security

# All PowerShell files require mandatory core and security review
src/**/*.ps1 @blackpoint/pscompassone-core @blackpoint/pscompassone-security

# Test files require QA and core team review
src/test/* @blackpoint/pscompassone-qa @blackpoint/pscompassone-core

# Security-specific test files require security and QA team review
src/test/security/* @blackpoint/pscompassone-security @blackpoint/pscompassone-qa

# Infrastructure files require DevOps and security review
infrastructure/* @blackpoint/pscompassone-devops @blackpoint/pscompassone-security

# CI/CD workflow files require DevOps and security review
.github/workflows/* @blackpoint/pscompassone-devops @blackpoint/pscompassone-security

# Authentication-related code requires dedicated security team review
src/**/auth/** @blackpoint/pscompassone-security

# Cryptography-related code requires dedicated security team review
src/**/crypto/** @blackpoint/pscompassone-security

# Security documentation requires both security and core team review
docs/security/* @blackpoint/pscompassone-security @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Pipeline.Tests.ps1
  src/test/PSCompassOne.Pipeline.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.SecretStore.Tests.ps1
  src/test/PSCompassOne.SecretStore.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Security.Tests.ps1
  src/test/PSCompassOne.Security.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/PSCompassOne.Types.Tests.ps1
  src/test/PSCompassOne.Types.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/Pester.Tests.ps1
  src/test/Pester.Tests.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/README.md
  src/test/README.md
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/test.ps1
  src/test/test.ps1
Owners: @blackpoint/pscompassone-qa, @blackpoint/pscompassone-core

Add public-samples/compassone-powershell-module-2-4fatle/src/test/config/test-config.psd1
  src/test/config/test-config.psd1
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/config/test-credentials.psd1
  src/test/config/test-credentials.psd1
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/config/test-environment.psd1
  src/test/config/test-environment.psd1
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/coverage/.gitignore
  src/test/coverage/.gitignore
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/coverage/coverage.xml
  src/test/coverage/coverage.xml
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestAssets.json
  src/test/data/TestAssets.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestFindings.json
  src/test/data/TestFindings.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestIncidents.json
  src/test/data/TestIncidents.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestRelationships.json
  src/test/data/TestRelationships.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestTags.json
  src/test/data/TestTags.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/data/TestUsers.json
  src/test/data/TestUsers.json
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-2-4fatle/src/test/fixtures/AssetFixtures.ps1
  src/test/fixtures/AssetFixtures.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/fixtures/FindingFixtures.ps1
  src/test/fixtures/FindingFixtures.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/fixtures/IncidentFixtures.ps1
  src/test/fixtures/IncidentFixtures.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/fixtures/RelationshipFixtures.ps1
  src/test/fixtures/RelationshipFixtures.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/fixtures/TagFixtures.ps1
  src/test/fixtures/TagFixtures.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/helpers/AssertionHelpers.ps1
  src/test/helpers/AssertionHelpers.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/helpers/MockHelpers.ps1
  src/test/helpers/MockHelpers.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/helpers/TestDataGenerator.ps1
  src/test/helpers/TestDataGenerator.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/helpers/TestHelpers.ps1
  src/test/helpers/TestHelpers.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/mocks/MockAPI.ps1
  src/test/mocks/MockAPI.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/mocks/MockAssets.ps1
  src/test/mocks/MockAssets.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/mocks/MockFindings.ps1
  src/test/mocks/MockFindings.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/mocks/MockRelationships.ps1
  src/test/mocks/MockRelationships.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/mocks/MockSecretStore.ps1
  src/test/mocks/MockSecretStore.ps1
Owners: @blackpoint/pscompassone-core, @blackpoint/pscompassone-security

Add public-samples/compassone-powershell-module-2-4fatle/src/test/results/.gitignore
  src/test/results/.gitignore
Owners: @blackpoint/pscompassone-maintainers
